/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: var(--font-space-grotesk), sans-serif;
    background: linear-gradient(
    90deg,
    #6a00ff 0%,
    #8a4dff 30%,
    #3b82f6 55%,
    #1e3a8a 75%,
    #09102a 100%
  );
  min-height: 100vh;
  width: 100%;
}

a,p{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
}

.page-content{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 6em 2em;
}

.page-content.hero{
    background-size: cover;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #fff;
}

h1 sup{
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 1.5vw;
    letter-spacing: 0;
}

@media (max-width:900px) {
  .page-content h1{
    font-size: 10vw;
  }
  h1 sup{
    font-size: 4vw;
  }
}